* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Utility classes

.open-mobile-menu {
  transform: translateX(0%) !important;
}

body {
  width: 100%;
  height: 100vh;
  // background-color: #aacc00;
  background: rgb(164, 179, 37) no-repeat;
  background: linear-gradient(
    0deg,
    rgba(164, 179, 37, 1) 0%,
    rgba(50, 140, 3, 1) 100%
  );
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;

  i {
    font-size: x-large;
    color: #ffff3f;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 30%;
    background-color: #007f5f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    transition: all ease-in-out 0.3s;
    transform: translateX(100%);

    .close-wrapper {
      display: flex;
      width: 100%;
      height: 80px;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 20px;
    }

    li {
      padding: 20px;
      list-style-type: none;
      // background-color: #fff;
      cursor: pointer;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
        color: #ffff3f;
        font-weight: 600;
      }
    }
  }
}
