* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Utility classes

.open-mobile-menu {
  transform: translateX(0%) !important;
}

.overlay-body-enable {
  position: absolute;
  top: 0;
  background-color: rgba($color: #000000, $alpha: 0.8);
  width: 100%;
  height: 100vh;
  transition: all ease-in-out 0.3s;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;

  i {
    font-size: x-large;
    color: #007f5f;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0;
    margin: 1vh 1vh;
    height: 98vh;
    width: 30%;
    background-color: #007f5f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 20px;

    z-index: 9999999;

    transition: all ease-in-out 0.3s;
    transform: translateX(110%);

    .close-wrapper {
      display: flex;
      width: 100%;
      height: 80px;
      justify-content: flex-end;
      align-items: center;
      padding: 30px 20px;
    }

    i {
      color: #ffff3f;
    }

    li {
      padding: 20px;
      list-style-type: none;
      // background-color: #fff;
      cursor: pointer;

      a {
        text-decoration: none;
        font-size: 1.2rem;
        text-align: center;
        color: #ffff3f;
        font-weight: 600;
      }
    }
  }
}

main {
  .banner {
    width: 100%;
    height: 70vh;
    background-image: url("../images/04.jpg");
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 728px) {
  nav {
    .mobile-menu-btn {
      display: none;
    }

    i {
      color: #ffff3f;
      z-index: 1;
    }

    .mobile-menu {
      width: 100%;
      height: inherit;
      justify-content: flex-end;
      align-items: center;

      transform: translateX(0%);
      height: 80px;
      flex-direction: row;
      border-radius: 0px;
      margin: 0;

      li {
        padding: 0px 20px;
      }

      .close-wrapper {
        display: none;
      }
    }
  }
}
