* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.open-mobile-menu {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.overlay-body-enable {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

nav {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 25px;
}

nav i {
  font-size: x-large;
  color: #007f5f;
}

nav .mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  margin: 1vh 1vh;
  height: 98vh;
  width: 30%;
  background-color: #007f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px;
  z-index: 9999999;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

nav .mobile-menu .close-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px;
}

nav .mobile-menu i {
  color: #ffff3f;
}

nav .mobile-menu li {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
}

nav .mobile-menu li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  color: #ffff3f;
  font-weight: 600;
}

main .banner {
  width: 100%;
  height: 70vh;
  background-image: url("../images/04.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 728px) {
  nav .mobile-menu-btn {
    display: none;
  }
  nav i {
    color: #ffff3f;
    z-index: 1;
  }
  nav .mobile-menu {
    width: 100%;
    height: inherit;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    height: 80px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-radius: 0px;
    margin: 0;
  }
  nav .mobile-menu li {
    padding: 0px 20px;
  }
  nav .mobile-menu .close-wrapper {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */