* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// UTILITY CLASSSES
.sidemenu-toggler {
  transform: translateX(0%) !important;
}

body {
  background: rgb(223, 223, 223);
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
  height: 8vh;
  align-items: center;

  i {
    font-size: xx-large;
    color: teal;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    background: gray;
    transform: translateX(100%);

    transition: all ease-in-out 0.4s;

    #close-menu {
      float: right;
    }

    li {
      list-style-type: none;
      padding: 20px;

      a {
        text-decoration: none;
      }
    }
  }
}
